---
layout : base
---

<script src="{{ '/assets/js/people.js' | prepend: site.baseurl | prepend: site.url }}"></script>

<nav class="site-nav">	
	<a href="#" class="menu-icon">
		<span></span>
	</a>
	<div class="trigger">
		<div>
			<a class="page-link menu_about " href="{{ 'about.html' | prepend: site.baseurl }}">About</a>
		</div>
		<div>
			<a class="page-link menu_profile " href="{{ 'profile.html' | prepend: site.baseurl }}">Profile</a>
		</div>
		<div>
			<a class="page-link menu_people selected" href="{{ 'people.html' | prepend: site.baseurl }}">People</a>
		</div>
		<div>
			<a class="page-link menu_project" href="{{ 'project.html' | prepend: site.baseurl }}">Project</a>
		</div>
		<div>
			<a class="page-link menu_contact" href="{{ 'contact.html' | prepend: site.baseurl }}">Contact</a>
		</div>	
		<div class="social_container">
			<a href = {{ site.facebook_username | prepend: "https://www.facebook.com/"}} target="_blank"><div class="menu_facebook"></div></a>
			<a href = {{ site.instagram_username | prepend: "https://www.instagram.com/"}} target="_blank"><div class="menu_instagram"></div></a>
			<a href= {{ site.pinterest_username | prepend: "https://kr.pinterest.com/"}} target="_blank"><div class="menu_pinterest"></div></a>
		</div>		
	</div>
</nav>

<article>
	<div class="outer">
		<div class="inner">
			<div class="centered">
				<div class="people_image">
					<table>
						<tr height=400px>
						{% for member in site.data.members.members %}
							<td data-slug="{{ member.slug }}">
								<div class="container" style="background-image: url({{ member.image }})">
									<img class="people_bwimage" src="{{ member.bwimage}}" data-slug="{{ member.slug }}" alt="{{ member.name }}"/>
									<div class="people_lable">
										{{member.name}}<br>
										<div class="people_title">
										{{member.title}}
										</div>
									</div>
								</div>
							</td>
						{% endfor %}
						</tr>
						<tr height=20px>
						{% for member in site.data.members.members %}
							<td>
								<div class="people_btn" data-slug="{{ member.slug }}"></div>
							</td>
						{% endfor %}
						</tr>
					</table>
				</div>				
				<div class="profile">
					<div id="ljh" class="pf-table hidden">
						<div class="row">
							<div class="pf-col1 pf-name">이정환</div><div class="pf-col2 pf-name-eng">Lee, Jung-Hwan</div>
						</div>
						<br>
						<div class="row">
							<div class="pf-col1"></div><div class="pf-col2">홍익대학교 공과대학 건축학과 졸업</div>
						</div>
						<div class="row">
							<div class="pf-col1"></div><div class="pf-col2">건축사</div>
						</div>
						<br>
						<div class="row">
							<div class="pf-col1">91-98</div><div class="pf-col2">(주)정림건축</div>
						</div>
						<div class="row">
							<div class="pf-col1">99-11</div><div class="pf-col2">(주)경신건축 소장</div>
						</div>
						<div class="row">
							<div class="pf-col1">11-23</div><div class="pf-col2">(주)상지건축 소장</div>
						</div>
						<div class="row">
							<div class="pf-col1">현</div><div class="pf-col2">(주)뜰건축사사무소 소장</div>
						</div>
						<div class="row">
							<div class="pf-col1"></div><div class="pf-col2">스튜디오 "SPACE4" 건축 파트너</div>
						</div>
					</div>

					<div id="chj" class="pf-table hidden">
						<div class="row">
							<div class="pf-col1 pf-name">최희재</div><div class="pf-col2 pf-name-eng">Choi, Hee-Jae</div>
						</div>
						<br>
						<div class="row">
							<div class="pf-col1">현</div><div class="pf-col2">스튜디오 "SPACE4" 이사</div>
						</div>
					</div>
					
					<div id="lrh" class="pf-table hidden">
						<div class="row">
							<div class="pf-col1 pf-name">이란희</div><div class="pf-col2 pf-name-eng">Lee, Ran-Hee</div>
						</div>
						<br>
						<div class="row">
							<div class="pf-col1">현</div><div class="pf-col2">스튜디오 "SPACE4" 실장</div>
						</div>
					</div>

					<div id="kch" class="pf-table hidden">
						<div class="row">
							<div class="pf-col1 pf-name">김찬휘</div><div class="pf-col2 pf-name-eng">Kim, Chan-Hwi</div>
						</div>
						<br>
						<div class="row">
							<div class="pf-col1">현</div><div class="pf-col2">스튜디오 "SPACE4" 팀장</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
<div class="mobile-nav">
	<div>
		<a href="{{ 'about.html' | prepend: site.baseurl }}">About</a>
	</div>
	<div>
		<a href="{{ 'profile.html' | prepend: site.baseurl }}">Profile</a>
	</div>
	<div>
		<a class="selected" href="{{ 'people.html' | prepend: site.baseurl }}">People</a>
	</div>
	<div>
		<a href="{{ 'project.html' | prepend: site.baseurl }}">Project</a>
	</div>
	<div>
		<a href="{{ 'contact.html' | prepend: site.baseurl }}">Contact</a>
	</div>
	<div class="social_container">
		<a href = {{ site.facebook_username | prepend: "https://www.facebook.com/"}} target="_blank"><div class="menu_facebook"></div></a>
		<a href = {{ site.instagram_username | prepend: "https://www.instagram.com/"}} target="_blank"><div class="menu_instagram"></div></a>
		<a href= {{ site.pinterest_username | prepend: "https://kr.pinterest.com/"}} target="_blank"><div class="menu_pinterest"></div></a>
	</div>		
</div>

<script>
	$(".menu-icon").click(function(){
		$("body").toggleClass("nav-open");
	});
</script>
