/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
html, body {
	height: 100%;
	width: 100%;
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: 0;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;

    &:visited {
        color: darken($text-color, 15%);
    }

    &:hover {
        color: $brand-color;
		font-weight: 800;
	}
}

/**
 * Site header
 */
.site-header {    
    min-height: 60px;
}

/**
 * Page content
 */
.page-content {
    padding: 0;
	height: 100vh;
	
	@include media-query($on-palm) {
		min-height: 100vh;
		padding: 0;
	}
}

/**
 * Wrapper
 */
.wrapper {
	width: #{$content-width};
	height: #{$content-height};
	margin-right: auto;
    margin-left: auto;
	padding-right: $spacing-unit;
    padding-left: $spacing-unit;
	
	@extend %clearfix;
	
	@include media-query($on-palm) {
        width: calc(100vw - #{$spacing-unit});
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Article
 */
article {
	height:calc(100vh - #{$header-height} - #{$footer-height});
	
	@include media-query($on-palm) {
		min-height: calc(100vh - #{$header-height} - #{$footer-height} * 2);
		height: auto;
	}
}

/**
 * Site footer
 */
.site-footer {
	height: $footer-height;	
	color: $text-foot-color;
	z-index: -1;
	
	.copyright {
		display: table-cell;
		vertical-align: bottom;
		height: 35px;		
		font-size: 0.7em;
	}
	
	.logo-footer {
		float: right;
		height: 35px;
		max-width: 202px;
	}
	
	@include media-query($on-palm) {
		margin-top: $footer-height;	
		.copyright {
			display: none;
		}
	}
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
