/**
 * Home
 */
 
.logo {
	img {
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
	}
}

#logo-canvas {
	position: fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;	
}

/**
 * mobile nav
 **/
.mobile-nav { position: fixed; top: 50px; left: 0; z-index: 9; display: block; overflow-x: hidden; overflow-y: auto; width: 100%; height: 100%; max-height: 0; padding: 0; opacity: 0; background: white; -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; }
.mobile-nav { 
	display: none; 
	
	div {
		line-height: 30px;
		text-align: center;
	}
	
	.selected {
		font-weight: 800;
		color: #d61f26 !important;
	}
	
	@include media-query($on-palm) {
		display: block; 
	}
	
	.social_container {
		position: relative;
		top: 48px;
		width: 100%;
		text-align: center;
	}
	
	.menu_facebook {
		display: inline-block;
		width: 17px;
		height: 17px;
		background-image:url('/assets/images/icon_facebook.png');
	}
	
	.menu_instagram {
		display: inline-block;
		width: 17px;
		height: 17px;
		margin: 0 10px;
		background-image:url('/assets/images/icon_instagram.png');
	}
	
	.menu_pinterest {
		display: inline-block;
		width: 17px;
		height: 17px;
		background-image:url('/assets/images/icon_pinterest.png');
	}
}
body.nav-open .mobile-nav {max-height: 100vh;padding: 10px 0;opacity: 1;}
body.nav-open .site-nav .menu-icon span { background: transparent; }
body.nav-open .site-nav .menu-icon span:before { top: 1px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
body.nav-open .site-nav .menu-icon span:after { top: -1px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

.site-nav .menu-icon { position: absolute; z-index: 6; top: 0; display: inline-block; width: 30px; height: 30px; padding: 10px 0; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
.site-nav .menu-icon span, .site-nav .menu-icon span:before, .site-nav .menu-icon span:after { position: relative; display: block; width: 22px; height: 2px; background: #3e3e3e; content: ''; -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease; }
.site-nav .menu-icon span { top: 9px; left: 4px; margin: 5px 0; }
.site-nav .menu-icon span:before { top: -8px; }
.site-nav .menu-icon span:after { bottom: -6px; }

/**
 *	nav
 **/
 
.site-nav {
	position: absolute;
	width: 80px;
	z-index: 10;
	
	.menu-icon {
        display: none;
    }
	
	.selected {	
		font-weight: 800;
		color: #d61f26 !important;
	}
	
	.page-link {
		transition: 0.5s;
    }
	
	.page-link:hover{
		margin-left:10px;
	}
	
	.menu_about {
		letter-spacing:8px;
	}
	
	.menu_profile {
		letter-spacing:5.4px;
	}
	
	.menu_people {
		letter-spacing:6px;
	}
	
	.menu_project {
		letter-spacing:4.4px;
	}
	
	.menu_contact {
		letter-spacing:3.25px;
	}
	
	.social_container {
		position: relative;
		top: 48px;
		width: 100%;
		text-align: center;
	}
	
	.menu_facebook {
		display: inline-block;
		width: 17px;
		height: 17px;
		background-image:url('/assets/images/icon_facebook.png');
	}
	
	.menu_instagram {
		display: inline-block;
		width: 17px;
		height: 17px;
		margin: 0 10px;
		background-image:url('/assets/images/icon_instagram.png');
	}
	
	.menu_pinterest {
		display: inline-block;
		width: 17px;
		height: 17px;
		background-image:url('/assets/images/icon_pinterest.png');
	}
	
	
	@include media-query($on-palm) {
		top: 9px;
        left: 10px;
		
		.menu-icon {
			position: fixed;
			display: block;
			background: white;
			width: 100%;
		}
		
		.trigger {
            clear: both;
            display: none;
        }
	}
}


/**
 *	Content layout
 */
 
.outer {
	display: table;
	width:100%;
	height:100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.centered {
	position: relative;
	width: 730px;
	height: 500px;
	margin-left:auto;
	margin-right:auto;
	
	@include media-query($on-palm) {
		width: auto;
		height: auto;
	}
}

/**
 * About
 **/
.centered_about {
	word-break: keep-all;
	@include media-query($on-palm) {
		margin-top: 25vh;
		font-size: 0.8em;
	}	
}

.logo-about{
	width: 106px;
}

/**
 *	Profile
 */
.profile_image {
	float:right;
	display: inline-block;
	
	@include media-query($on-palm) {
		margin-bottom: 30px;
		float:none;
	}
	
	table, tbody, tr, td {
		border-style:none;
		border: 0px;
		padding:0;
		border-collapse: collapse;
	}
	
	td {
		background-size: 102% 102%;
		background-position: 50% 50%;
		transition: 0.5s;
	}
	
	td img {
		height:auto;
		cursor: pointer;
		transition : 0.5s;
		object-fit: fill;
	}
	
	td img:hover {
		opacity:0;		
	}
	
	._00 {background-image:url('/assets/images/profile/thumb/00.png');}
	._01 {background-image:url('/assets/images/profile/thumb/01-1.jpg');}
	._02 {background-image:url('/assets/images/profile/thumb/02-1.jpg');}
	._03 {background-image:url('/assets/images/profile/thumb/03-1.jpg');}
	._04 {background-image:url('/assets/images/profile/thumb/04-1.jpg');}
	._05 {background-image:url('/assets/images/profile/thumb/05-1.jpg');}
	._06 {background-image:url('/assets/images/profile/thumb/06-1.jpg');}
	._07 {background-image:url('/assets/images/profile/thumb/07-1.jpg');}
	._08 {background-image:url('/assets/images/profile/thumb/08-1.jpg');}
	._09 {background-image:url('/assets/images/profile/thumb/09-1.jpg');}
	._10 {background-image:url('/assets/images/profile/thumb/10-1.jpg');}
	._11 {background-image:url('/assets/images/profile/thumb/11-1.jpg');}
	._12 {background-image:url('/assets/images/profile/thumb/12-1.jpg');}
	._13 {background-image:url('/assets/images/profile/thumb/13-1.jpg');}
	._14 {background-image:url('/assets/images/profile/thumb/14-1.jpg');}
	._15 {background-image:url('/assets/images/profile/thumb/15-1.jpg');}
	._16 {background-image:url('/assets/images/profile/thumb/16-1.jpg');}
	._17 {background-image:url('/assets/images/profile/thumb/17-1.jpg');}
	._18 {background-image:url('/assets/images/profile/thumb/18-1.jpg');}
	._19 {background-image:url('/assets/images/profile/thumb/19-1.jpg');}
	._20 {background-image:url('/assets/images/profile/thumb/20-1.jpg');}
}

.profile {
	display: inline-block;	
	float:right;
	width: 330px;
	font-size:0.9em;
	
	.pf-table {
		display: table;
		margin-right: 20px;
	}
	
	.row {
		display: table-row;
	}
	
	.pf-col1, .pf-col2 {
		display: table-cell;
	}
	
	.pf-col1 {
		width:60px;
		height:20px;
		padding-right:10px;
		text-align:right;
		font-size: 0.8em;
	}
	
	.pf-col2 {
		text-align:left;
		font-size: 0.9em;
		font-weight: 500;
		color: #{$text-bold-color};
	}
	
	.pf-name {
		font-size: 1.2em;
		font-weight: 600;
		color: #000;
	}
	
	.pf-name-eng {
		font-weight: 600;
		color: #000;		
	}
	
	@include media-query($on-palm) {
		float:none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		
		.pf-table {
			margin-left: calc(50% - 200px);
		}
	}
	
	@include media-query($on-small) {
		.pf-table {
			margin-left: 0px;
		}
	}
}

/**
 *	People
 */
#ljh, #chj {	
	position: absolute;
	margin-top: 0px;
	
	@include media-query($on-palm) {
		margin-top: -130px;
		position: absolute;
		margin-left: calc(50% - 200px);
	}
	
	@include media-query($on-small) {
		margin-left: 0px;
	}
}

.visible
{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear;
}

.hidden
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.people_image {	
	display: inline-block;
	float:right;
	max-width:450px;
	height:420px;
	
	@include media-query($on-palm) {
		margin-bottom: 150px;
		float:none;
	}
	
	table, tbody, tr{
		border-style:none;
		border: 0px;
		padding:0;
	}
	
	table {
		width:100%;
		height:400px;
		border-collapse: collapse;
	}	
	
	td {
		position: relative;
		width:79px;
		padding-right:2px;
		overflow:hidden;
	}
	
	td:last-child {
		padding-right:0;
	}	
	
	.container {
		position: relative;
		top:0;
		width:100%;
		height:100%;
		//background-size: 102% 102%;
		background-position: 50% 50%;
	}
	
	img {
		position:absolute;
		left:0;
		height:100%;
		object-fit: cover;
		transition: 0.5s;
	}
	

	.people_lable {
		position: absolute;	
		display: table-cell; 
		bottom:10px;
		width:100%;
		color: white;
		font-size:14px;
		vertical-align: bottom;
		z-index:10;
	}
	
	.people_title {
		font-size: 11px;
	}
}

.people_btn {
	height:12px;
	width:12px;
	background-image: url('/assets/images/plus.png');
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 0.5s;
}

.rotate90 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/**
 *	Project
 */
 
.project-centered {
	position: relative;
	display:inline-block;
	width:100%;
	padding-top:10px;
	margin-bottom: 100px;
	text-align: left;
	
	@include media-query($on-palm) {
		margin-bottom: 0px;
	}
}

.project-img {
	display: inline-block;
	float:left;
	font-size:0.9em;
	width: calc(100% - 355px);
	//height:590px;	
	
	table, tr, td {
		padding:0;
	}
	
	table {
		margin-left:250px;
		margin-right:20px;
		width: calc(100% - 270px);
		text-align: center;
	}
	
	.thumbshow{
		position: fixed;
		display: block;
		top:0;
		left:0;
		width:200px;
		z-index: 12;
	}	
	
	img {
		object-fit: cover;
	}
	
	.swiper-container {
		visibility: hidden;
		width: 600px;
		height: 300px;
	}
	
	.swiper-slide {
        background-position: center;
        background-size: cover;
    }
	
	.swiper-pagination {
		margin: 0 auto;
		width: 520px;
		height:10px;
	}
	
	.swiper-button-prev, .swiper-button-next{
		visibility: hidden;
		width:23px;
		height:300px;			
		-webkit-background-size: 8px 11px;
		-moz-background-size: 8px 11px;
		-ms-background-size: 8px 11px;
		-o-background-size: 8px 11px;
		background-size: 8px 11px;
	}
	
	.swiper-button-prev {
		left:0;
		background-image: url('/assets/images/arrow_left.png');
	}
	.swiper-button-next {
		right:0;
		background-image: url('/assets/images/arrow_right.png');
	}
	
	.swiper-pagination-bullet {
		margin: 0 5px;
	}
	
	.desc {
		margin:0 auto;
		text-align:right;
		font-size:0.7em;
		line-height: 20px;
		height:100px;
		width:600px;
	}
	
	@include media-query($on-palm) {
		display: block;
		float: none;
		width: 100%;
		//height:50vh;
		
		table {
			width: 100%;
			margin-left:auto;
			margin-right:auto;
			
			border-style:none;
			border: 0px;
			padding:0;
			border-collapse: collapse;
		}
		
		.thumbshow{
			display: none;
		}
		
		.swiper-container {
			width: calc(100vw - 30px);
			height: calc((100vw - 30px) / 2);
		}
		
		.swiper-pagination {
			width: calc(100vw - 30px);
		}
		
		.swiper-button-prev, .swiper-button-next{
			display: none;
		}
		
		.desc {
			width: 100%;
			margin-top: 5px;
			line-height: 15px;
		}
	}
}

.project-list {
	display: table;
	float: right;
	width: 355px;
	font-size: 0.8em;
	height:590px;
	
	@include media-query($on-palm) {
		float: none;
		width: calc(100vw - 30px);
		height:37vh;
	}
}

.project-list-table {
	height:590px;
	overflow-y: scroll;
	overflow-x: hidden;	
	
	@include media-query($on-palm) {
		height:37vh;
	}
	
	.row {
		display: table-row;
		width: 300px;
	}
	
	.type {
		position:relative;
		display: table-cell;
		font-family: Helvetica;
		float: left;
		width: 20px;
		height: 23px;
		font-size:1.2em;
		font-weight: 800;
	}
	
	.title{
		margin-left: 57px;
		cursor: pointer;
		transition: 0.5s;
	}
	
	.title:hover{
		color: #d61f26;
	}
	
	.blank{
		height: 20px;
	}
}

.selected{
	color: #d61f26;
}

.project-list-table::-webkit-scrollbar{
	width: 11px;
}

.project-list-table::-webkit-scrollbar-thumb{
	background: #EEE;
	border-radius: 10px;
}

.project-list-table::-webkit-scrollbar-button:start {
	width:11px;
	height:10px;
    background-image: url('/assets/images/arrow_up.png');
	background-repeat: no-repeat;
}

.project-list-table::-webkit-scrollbar-button:end {
	width:11px;
	height:10px;
    background-image: url('/assets/images/arrow_down.png');
	background-repeat: no-repeat;
}

.project-list-table{
	scrollbar-arrow-color: #BBB;
	scrollbar-face-color: #EEE;
	scrollbar-base-color: #FFF;
	scrollbar-track-color: #FFF;
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-shadow-color: #FFF;
	scrollbar-dark-shadow-color: #FFF;
}

/**
 *	Contact
 **/
.map_wrapper {
	float:right;
	display: inline-block;
	
	@include media-query($on-palm) {
		float: none;
		margin-bottom: 30px;
		width: 100%;
	}	
}

#map {	
	width: 400px;
	height: 400px;
	
	@include media-query($on-palm) {
		width: 100%;
		height: 50vh;
	}
}

.contact-info {
	float: right;
	display: inline-block;
	width: 330px;
	
	@include media-query($on-palm) {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.contact-list {
	text-align:left;
	font-size: 0.7em;
	list-style: none;
	line-height: 23px;
}