/**
 * Site header
 */
.site-header {    
    //border-bottom: 1px solid $grey-color-light;
    min-height: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.selected {	
	font-weight: 800;
	color: #d61f26 !important;
}


.site-nav {
	position: absolute;
	width: 80px;	
	z-index: 10;
	
	.menu-icon {
        display: none;
    }
	
	.page-link {
        color: $text-color;
		transition: 0.5s;
    }
	
	.page-link:hover{
		color: #d61f26;
		margin-left:10px;
	}	
	
	.menu_about {
		letter-spacing:8px;
	}
	
	.menu_profile {
		letter-spacing:5.4px;
	}
	
	.menu_people {
		letter-spacing:6px;
	}
	
	.menu_project {
		letter-spacing:4.4px;
	}
	
	.menu_contact {
		letter-spacing:3.25px;
	}
	
	@include media-query($on-palm) {
        position: absolute;
        top: 9px;
        left: 10px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
		width:auto;
		height:auto;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
			line-height: 10px;
        }
    }
}

/**
 * Home
 */
 
.logo {
	display: block;
	height: 80vh;
	margin-left: auto;
	margin-right: auto;	
	
	
	img {
		position: absolute;
		top: 50vh;
		left: 50vw;
		transform: translate(-50%, -50%);
	}
	
	//padding-top: 30vh;
	//background-color: #bbb;
}

#logo-canvas {
	position: fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	
}

.home {
	width: 100%;
	@include media-query($on-palm) {
		width: 100%;
	}
	text-align:center;
}

#container{	
	display:inline-block;
	text-align:left;
	margin-top:50px;
}

.profile {
	display: inline-block;
	float:left;
	font-size:0.9em;
	width: 330px;
	height: 400px;
	
	.pf-table {
		display: table;
		margin-right: 20px;
	}
	.row {
		display: table-row;
	}
	
	.pf-col1, .pf-col2 {
		display: table-cell;
	}
	
	.pf-col1 {
		width:60px;
		height:20px;
		padding-right:10px;
		text-align:right;
		font-size: 0.8em;
	}
	
	.pf-col2 {
		text-align:left;
		font-size: 0.9em;
		font-weight: 500;
		color: #{$text-bold-color};
	}
	
	.pf-name {
		font-size: 1.2em;
		font-weight: 600;
		color: #000;
	}
	
	.pf-name-eng {
		font-size: 0.9em;
		font-weight: 600;
		color: #000;
		
	}
	
}

#ljh, #chj {
	position: absolute;
}
.visible
{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s linear;
}

.hidden
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear;
}


.profile_image {	
	display: inline-block;
	background-color: #EEE;
	width:400px;
	height:400px;
	
	table, tbody, tr, td {
		border-style:none;
		border: 0px;
		padding:0;
	}
	
	table {
		width:100%;
		height:100%;
		border-collapse: collapse;
	}	
	
	td {
		width:80px;
		height:80px;
		background-size: 102% 102%;
		background-position: 50% 50%;
		transition: 0.5s;
	}
	
	._00 {background-image:url('/assets/images/profile/thumb/00.jpg');}
	._01 {background-image:url('/assets/images/profile/thumb/01-1.jpg');}
	._02 {background-image:url('/assets/images/profile/thumb/02-1.jpg');}
	._03 {background-image:url('/assets/images/profile/thumb/03-1.jpg');}
	._04 {background-image:url('/assets/images/profile/thumb/04-1.jpg');}
	._05 {background-image:url('/assets/images/profile/thumb/05-1.jpg');}
	._06 {background-image:url('/assets/images/profile/thumb/06-1.jpg');}
	._07 {background-image:url('/assets/images/profile/thumb/07-1.jpg');}
	._08 {background-image:url('/assets/images/profile/thumb/08-1.jpg');}
	._09 {background-image:url('/assets/images/profile/thumb/09-1.jpg');}
	._10 {background-image:url('/assets/images/profile/thumb/10-1.jpg');}
	._11 {background-image:url('/assets/images/profile/thumb/11-1.jpg');}
	._12 {background-image:url('/assets/images/profile/thumb/12-1.jpg');}
	._13 {background-image:url('/assets/images/profile/thumb/13-1.jpg');}
	._14 {background-image:url('/assets/images/profile/thumb/14-1.jpg');}
	._15 {background-image:url('/assets/images/profile/thumb/15-1.jpg');}
	._16 {background-image:url('/assets/images/profile/thumb/16-1.jpg');}
	._17 {background-image:url('/assets/images/profile/thumb/17-1.jpg');}
	._18 {background-image:url('/assets/images/profile/thumb/18-1.jpg');}
	._19 {background-image:url('/assets/images/profile/thumb/19-1.jpg');}
	._20 {background-image:url('/assets/images/profile/thumb/20-1.jpg');}
	
	td img {
		cursor: pointer;
		transition : 0.3s;
	}
	
	td img:hover {
		opacity:0;
		
	}
	
}

.people_image {	
	display: inline-block;
	width:400px;
	height:420px;
	
	table, tbody, tr{
		border-style:none;
		border: 0px;
		padding:0;
	}
	
	table {
		width:100%;
		height:400px;
		border-collapse: collapse;
	}	
	
	td {
		position: relative;
		width:79px;
		padding-right:2px;
		overflow:hidden;
	}
	
	td:last-child {
		padding-right:0;
	}	
	
	.container {
		position: relative;
		top:0;
		width:100%;
		height:100%;
	}
	
	img {
		position:absolute;
		left:0;
		height:100%;
		object-fit: cover;
		transition: 0.5s;
	}
	
	img:hover {
		opacity:0;
	}
	
	.people_lable {
		position: absolute;	
		display: table-cell; 
		bottom:10px;
		width:100%;
		color: white;
		font-size:10px;
		vertical-align: bottom;
		z-index:10;
	}	
}

.people_btn {
	height:12px;
	width:12px;
	background-image: url('/assets/images/plus.png');
	background-repeat: no-repeat;
	cursor: pointer;
	transition: 0.5s;
}

.rotate90 {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}


/**
 * Project
 */

.project-centered {
	position: relative;
	display:inline-block;
	width:100%;
	padding-top:10px;
	margin-bottom: 100px;
	text-align: left;
}

.project-img {
	display: inline-block;
	float:left;
	font-size:0.9em;
	width: calc(100% - 355px);
	height:590px;
	
	table, tr, td {
		padding:0;
	}
	
	table {
		margin-left:330px;
		//margin-left:40%;
		margin-right:20px;
		width: calc(100% - 350px);
		text-align: center;
	}
	
	.thumbshow{
		position: fixed;
		display: block;
		top:0;
		left:0;
		width:200px;
		z-index: 12;
	}
	
	img {
		object-fit: cover;
		filter: url('/assets/js/filters.svg#grayscale'); /* Firefox 3.5+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1);	
	}
	
	.swiper-container {
		visibility: hidden;
		width: 520px;
		height: 280px;
	}
	
	.swiper-slide {
        background-position: center;
        background-size: cover;
    }
	
	.swiper-pagination {
		margin: 0 auto;
		width: 520px;
		height:10px;
	}
	
	.swiper-button-prev, .swiper-button-next{
		visibility: hidden;
		width:8px;
		height:11px;			
		-webkit-background-size: 8px 11px;
		-moz-background-size: 8px 11px;
		-ms-background-size: 8px 11px;
		-o-background-size: 8px 11px;
		background-size: 8px 11px;
	}
	
	.swiper-button-prev {
		left:0;
		background-image: url('/assets/images/arrow_left.png');
	}
	.swiper-button-next {
		right:0;
		background-image: url('/assets/images/arrow_right.png');
	}
	
	.swiper-pagination-bullet {
		margin: 0 5px;
	}
	
	.desc {
		margin:0 auto;
		text-align:right;
		font-size:0.7em;
		line-height: 20px;
		height:100px;
		width:520px;
	}
}


.project-list {
	display: table;
	float: right;
	width: 355px;
	font-size: 0.8em;
	height:590px;
}

.project-list-table {
	height:590px;
	overflow-y: scroll;
	overflow-x: hidden;	
	
	.row {
		display: table-row;
		width: 300px;
	}
	
	.type {
		position:relative;
		display: table-cell;
		font-family: Helvetica;
		float: left;
		width: 20px;
		height: 23px;
		font-size:1.2em;
		font-weight: 800;
	}
	
	.title{
		margin-left: 57px;
		cursor: pointer;
		transition: 0.5s;
	}
	
	.title:hover{
		color: #d61f26;
	}
	
	.blank{
		height: 20px;
	}
}


.project-list-table::-webkit-scrollbar{
	width: 11px;
}

.project-list-table::-webkit-scrollbar-track {
    display: none;
}

.project-list-table::-webkit-scrollbar-button:start {
	width:11px;
	height:10px;
    background-image: url('/assets/images/arrow_up.png');
	background-repeat: no-repeat;
}

.project-list-table::-webkit-scrollbar-button:end {
	width:11px;
	height:10px;
    background-image: url('/assets/images/arrow_down.png');
	background-repeat: no-repeat;
}

.project-list-table{
	scrollbar-arrow-color: #BBB;
	scrollbar-face-color: #FFF;
	scrollbar-base-color: #FFF;
	scrollbar-track-color: #FFF;
	scrollbar-3dlight-color: #C0C0C0;
	scrollbar-highlight-color: #C0C0C0;
	scrollbar-shadow-color: #FFF;
	scrollbar-dark-shadow-color: #FFF;
}

.contact-list {
	text-align:left;
	font-size: 0.8em;
	list-style: none;
	margin-left:120px;
	
	@include media-query($on-palm) {
		margin-left:auto;
	}
	
}

/**
 * Site footer
 */
.site-footer {
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: $footer-height;	
	color: #b3b3b3;
	z-index: -1;
	
	max-width: #{$content-width};
	padding-left: $spacing-unit / 2;
	padding-right: $spacing-unit / 2;
	
	.row {
		height: 20px;
	}
	
	.copyright {
		float: left;
		font-size: 0.7em;
	}
	
	.logo-footer {
		display: block;
		float: right;
		margin-right: 0px;
		font-weight: 200;	
		height: 18px;
		width: 184px;
	}
	
	.logo-footer2 {
		display: block;
		float: right;
		width: 184px;
		letter-spacing:0.26px;
		font-weight: 200;
		font-size: 0.8em;
	}
	
	@include media-query($on-palm) {
		padding-right: $spacing-unit / 4;
        padding-left: $spacing-unit / 4;	
		
		.logo-footer, .logo-footer2 {
			float: none;
		}	
		.copyright {
			float: none;
			font-size: 0.5em;
		}
	}
}

.outer {
	display: table;
	width:100%;
	height:100%;
}

.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.centered {
	position: relative;
	display:inline-block;
	@extend %clearfix;
	
	@include media-query($on-palm) {
		font-size: 0.9em;
	}
}